.bg {
  position: absolute;
  background-image: url("bg2.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0;
  overflow: hidden;
  transition: transform 1.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);

  &:hover {
    transform: scale(1.1);

    & .content {
      opacity: 0.9;
    }
  }
}

.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
