.Home {
  background-size: cover;
  background-position: 80%;
  display: flex;
  align-items: center;
}
.center-div {
  background-color: transparent;
  margin: auto;
  margin-top: 10%;
  max-width: 700px;
  text-align: center;
}
.container {
  margin-top: 8%;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}
