.notesInput {
  max-width: 150px;
  height: 30px;
  margin: 5px;
}

.addButton {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 0px;
}

.container {
  clear: both;
  position: relative;
  margin: auto;
}
