.PageContainer {
  height: 600px;
  margin-top: 10px;
  max-width: 70%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  background-color: rgba(245, 245, 245, 1);
  opacity: 0.8;
}
