.PageContainer {
  height: 600px;
  margin-block-start: 50px;
  max-width: 70%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  /* background: rgba(200, 200, 200, 0.5); */
  opacity: 0.95;
}
